.hide {
    display: none;
}

#startBtn {
    background-color: blue;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#startBtn:hover {
    transition-duration: 0.4s;
    background-color: green;
}

li {
    margin: 10px 0;
}

#btn0, #btn1, #btn2, #btn3  {
    background-color: blue;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    transition-duration: 0.4s;
    background-color: green;
}
